<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>FoodParadise | Signup</title>
        <link href="/css/auth.css" rel="stylesheet" />

    </head>
    <body>
        <div id="transparency-mask"></div>
        <header>FoodParadise</header>
        <main>
            <div class="auth-description">
                <h2>Create and Order Foods</h2>
                <p>Create your very own taste record, order food that isn't foreign to your palate and share that experience with others</p>
            </div>
            <form method="POST" action="/auth" th:action="|/auth?destination=${destination}&type=signup&source=${source}|">
                <h1>Welcome to FoodParadise</h1>
                <div class="container">
                    <div class="block">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="block">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="block">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="block">
                        <label for="uage">Age Group</label>
                        <select id="uage" name="userage">
                            <option>Below 20</option>
                            <option selected>20 - 30</option>
                            <option>30 - 40</option>
                            <option>40 - 50</option>
                            <option>50 - 60</option>
                            <option>Above 60</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <button type="submit"> Sign up </button>
                </div>
                <div class="block switch-auth">
                    <span>Already have an account? </span>
                    <a href="/signin?destination=dashboard&source=https://localhost:8080/">Sign in</a>
                </div>
                <p class="extra-text">By signing up, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
            </form>
        </main>
    </body>
</html>