<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>FoodParadise | Signin</title>
        <link href="/css/auth.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="transparency-mask"></div>
        <header>FoodParadise</header>
        <main>
            <div class="auth-description">
                <h2>Create and Order Foods</h2>
                <p>Create your very own taste record, order food that isn't foreign to your palate and share that experience with others</p>
            </div>
            <form method="POST" th:action="|/auth?destination=${destination}&type=signin&source=${source}|" action="/auth">
                <div th:if="${authMessage}">
                    <p th:if="${authMessage}"></p>
                </div>
                <h1 th:text="'Welcome back to ' + FoodParadise">Welcome back to FoodParadise</h1>
                <div class="container">
                    <div class="block">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="block">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                </div>
                <div class="block">
                    <button type="submit">Sign in</button>
                </div>
                <div class="block switch-auth">
                    <span>Don't have an account? </span>
                    <a href="/signup?destination=dashboard&source=https://localhost:8080/"> Sign up </a>
                </div>
                <p class="extra-text">
                    Forgot password? <a href="#">click here</a>
                </p>
            </form>
        </main>
    </body>
</html>