*{box-sizing: border-box;}
body{
    display: flex;
    margin: 0;
    padding: 1rem;
}
aside {
    display: flex;
    max-width: 250px;
    width: 100%;
    border-right: 3px solid #bbb;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 2rem);
}
aside > header > div {
    text-align: center;
}
aside > header img {
    width: 100px;
    height: 100px;
    border-radius: 4rem / 4rem;
}
aside > header > h1 {
    padding: 0.5rem;
    margin-bottom: 1rem;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;
    align-items: center;
}
nav>a {
    display: block;
    text-decoration: none;
    width: 7rem;
}
nav>a>i{margin: 0.5rem;}
main {
    padding: 0 1rem;
    width: 100%;
}
main > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .user-greeting-container > #hello {
    margin: 0;
    font-weight: bold;
    font-size: 125%;
}
main .user-greeting-container > #date {
    color: grey;
}
main .main-top-menu .order-cta{
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 1rem;
}

.card-container {
    margin-bottom: 1rem;
}
.card-container > div {
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
}
.card-container .card {
    min-width: 100px;
    min-height: 100px;
    background-color: orange;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    box-shadow: 0 0 1rem #000;
}
.card-container .card.purple{background-color: purple}
.card-container .card.green{background-color: green}