<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>FoodParadise | Dashboard</title>
    </head>
    <body>
        <div th:if="${authMessage}">
            <p th:if="${authMessage}"></p>
        </div>
        <p th:text="|Hello, ${name}!|"></p>
        <p th:text="${param.username}"></p>
        <p>This is a text reloaded.</p>
    </body>
</html>