<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>FoodParadise | Dashboard</title>
        <link href="/css/dashboard.css" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
    </head>
    <body>
        <!--<p th:text="|Hello, ${name}!|"></p>-->
        <aside>
            <header>
                <h1>FoodParadise</h1>
                <div>
                    <img src="images/user-image.jpg" alt="profile image" />
                    <p th:text="${param.name}">Simbi Ndoku</p>
                </div>
            </header>
            <nav>
                <a href="/dashboard"><i class="fa-solid fa-user"></i>Dashboard</a>
                <a href="/explore"><i class="fa-solid fa-user"></i>Explore</a>
                <a href="/dashboard/orders"><i class="fa-solid fa-user"></i>Orders</a>
                <a href="/dashboard/my-dishes"><i class="fa-solid fa-user"></i>My Dishes</a>
                <a href="/dashboard/settings"><i class="fa-solid fa-user"></i>Settings</a>
            </nav>
        </aside>
        <main>
            <header>
                <div class="user-greeting-container">
                    <p id="hello" th:text="|Hello, ${param.name}|">Hello, User</p>
                    <p id="date">today is Monday, 24th of May 2026</p>
                </div>
                <div class="main-top-menu">
                    <button class="order-cta">Make an Order</button>
                </div>
            </header>
            <div>
                <section id="order-section" class="card-container">
                    <h2>Previous Orders</h2>
                    <div>
                        <div class="card">
                            <p>Jollof rice</p>
                            <p>Date</p>
                            <span>Status: Processing</span>
                        </div>
                        <div class="card">
                            <p>Jollof rice</p>
                            <p>Date</p>
                            <span>Status: On the way</span>
                        </div>
                        <div class="card">
                            <p>Jollof rice</p>
                            <p>Date</p>
                            <span>Status : Delivered</span>
                        </div>
                    </div>
                </section>

                <div id="favorites-section" class="card-container">
                    <h2>Dish favorites</h2>
                    <div>
                        <div class="card">
                            <h3>Fried rice</h3>
                            <span>2300</span>
                        </div>
                        <div class="card green">
                            <h3>Italian Pizza</h3>
                            <span>2300</span>
                        </div>
                        <div class="card purple">
                            <h3>Lagos Burger</h3>
                            <span>2300</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>